{% extends 'master.html' %}
{% block title %}My Courses{% endblock title %}
{% load static %}
{% block content %}

<div class="container-sm mt-5">

    <div class="d-flex justify-content-center">
      <form class="d-flex" method="GET">
        <input class="border border-secondary rounded-end rounded-pill p-2 ps-3" name="search" type="text" placeholder="Search">
        <button class="border border-secondary border-start-0 rounded-start rounded-pill ps-4 pe-4" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  
    {% comment %}My Course card {% endcomment %}
    <div class="courses mt-5">
      <div class="course-category mb-3">
        <h5>My Courses&mdash;</h5>
      </div>
  
      <div class="card-contaiiner d-flex justify-content-md-center flex-wrap">
        {% comment %} Card {% endcomment %}
        {% if myCourse %}

        {% for course in myCourse %}

        <div class="card m-3" style="width: 18rem;">
          <img src="/media/{{ course.course.thumbnail }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ course.course }}</h5>        
          </div>
    
          <div class="card-body mt-0 pt-0">
            <div class="d-flex justify-content-between">
              <span style="font-weight: 500;">Enrolled <i class="fa-solid fa-circle-check fa-sm" style="color: #118d1f;"></i></span>
              <a href="{% url 'course_details' course.id %}" class="card-link link-offset-2 link-underline link-underline-opacity-0">Start now</a>
            </div>
          </div>
        </div>

        {% endfor %}

        {% else %}

        <h4 class="text-danger">You do not enrolle courses</h4>

        {% endif %}
          
  
      </div>
  
    </div>
    {% comment %} Course card {% endcomment %}
    
  </div>

{% endblock %}